body :not(h1) {
    font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    padding-left: 20px;
    padding-right:20px;
}
p {
    line-height: 1.43;
    margin-bottom: 1rem;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}

.site-title {
    font-size: 90px !important;
    font-weight: 100 !important;
}
.site-title, .section-title, .sub-title, .name {
    font-family: Raleway;
    margin-bottom: 0.5rem;
    margin-top: 0px;
}
.section-title {
    font-variant: small-caps;
    padding: 10px;
    text-align: center;
}
.section-title, h3 {
    font-size: 30px;
}
.sub-title, .name {
    margin: 0;
    padding: 10px;
}

header {
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
    padding-bottom: 25px;
}
.sub-heading {
    font-size: 25px;
    padding: 0;
    width: 50%;
}

.title {
    color: #999999;
    font-size: 80%;
}
footer {
    font-size: 5px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;  
    padding-top: 50px;
    position: center bottom;
    bottom: 5px
}
.footer {
    font-size: 15px;
}
img {
    height: 150px;
    position: inline-block
}

.logo {
    height: 60px
}